.buttons {
    display: flex;
    justify-content: center;
}

.card {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

.card-title {
    display: flex;
    justify-content: center;
}

.sub-title {
    color: #FDDB66;
    display: flex;
    justify-content: center;
}

.btn-primary {
    background-color: #FDDB66 !important;
    border-color: #FDDB66 !important;
    width: 100%;
}

.btn-secondary {
    background-color: #F8F8F8 !important;
    border-color: #F8F8F8 !important;
    width: 100%;
    color: black !important;
    margin-bottom: 2%;
}

.text {
    width: 100%;
    margin-top: 5%;
}

.right {
    margin-left: 50%;
    height: 100px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: large;
}

.left {
    width: 50%;
    height: 100px;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
    font-size: large;
}