.b1{
    padding-bottom: 12%;
 }
 
.card-size{
    margin-top: 5%;
    margin-bottom: 8%;
}
 
.logo-size{
    width: 10%;
}

.titre-1{
    font-family: Poppins;
    font-weight: bold;
    font-size: 23px;
}

.titre-2{
     font-family: Bebas Neue;
     font-size: 70px;
}
 
.a-style{
    text-decoration: none;
    font-family: Poppins;
    font-size: 18px;
    color: #A5A5A5;
}
 
.div-size{
    padding-top: 2%;
    padding-left: 4%;
}
 
.a-size{
    margin-top: 2%;
    margin-right: 2%;
}
 
.container-b{
    width: 100%;
    padding: 5%;
}
 
.pdf{
    width: 5%;
    height: 5%;
}
 
.pdf-1{
     width: 10%;
}