//Variables
$gold-color : #ffd700;
$gold-clair : #FDDB66;
$gold-text : #FCC400;
$black-color : #000000;
$white-color: #ffffff;
$grey-color : #A5A5A5;
$blue-color : #6D86FF;
$light-yellow : #FFFCF2;
$light-grey : #FAFAFA;

$breakpoint-tablet : 768px;
$breakpoint-phone : 576px;
